

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}


.wrapper {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px 60px 40px;
}

.header {
  margin-bottom: 65px;
}

.nav {
  max-width: 1600px;
  height: 75px;
  background: rgb(34, 34, 34);
  height: 75px;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15% 0 15%;
}

.n__c__icons {
  max-width: 111px;
  display: flex;
  gap: 41px;
  align-items: end;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.n__c__i__i__img2 {
  max-width: 26px;
  max-height: 27px;
}

.n__c__m__img1 {
  max-width: 32px;
  max-height: 32px;
}

.n__c__i__i__img1 {
  max-width: 44px;
  max-height: 38px;
}

.menu__btn {
  width: 44px;
  height: 38px;
  position: relative;
}

.menu__btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transform: translate(-60%, -60%);
  transition: all 0.3s;
  overflow: hidden;
}

.menu__btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}

.menu__btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

.menu__btn.active span:first-child {
  opacity: 0;
}

.menu__btn.active span:nth-child(2) {
  top: calc(50%);
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu__btn.active span:nth-child(3) {
  top: calc(50%);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.n__c__m__img2 {
  max-width: 29px;
  max-height: 29px;
}

.n__c__m__img3 {
  max-width: 32px;
  max-height: 29px;
}

.n__c__menu {
  max-width: 159px;
  display: flex;
  gap: 33px;
  align-items: center;
}

.hamburger__content {
  width: 232px;
  height: 634px;
  background: rgb(255, 255, 255);
  background-size: contain;
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 32px 74px 32px 32px;
  gap: 20px;
  z-index: 50;
  top: 75px;
  /* transform: translateY(-120%); */
  overflow: hidden;
}

.hamburger__content.active {
  /* transform: translateY(0); */
  transition: all 0.3s;
  display: flex;

}

.hamburger__item {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.hamhurger__title {
  color: rgb(0, 0, 0);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  top: 0;
  right: 0;
  margin-left: 1px;
  margin-bottom: 4px;
}

.title {
  color: rgb(241, 109, 127);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.title__menu {
  color: rgb(111, 110, 110);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 21.5px;
}

.header__main {
  max-width: 1600px;
  width: 100%;
  height: 764px;
  height: 100%;
  background: rgb(241, 228, 230);
  background-size: contain;
  display: flex;
  align-items: center;
  gap: 3%;
  padding: 0 34px 0 0;

}

.h__m__picture {
  max-height: 764px;
  height: 100%;
}

.h__m__content {
  width: 50%;
  height: 754px;
  position: relative;
}

.h__m__c__lable {
  max-width: 400px;
  /* width: 100%; */
  max-height: 92px;
  /* height: 100%; */
  display: flex;
  gap: 16px;

}

.h__m__c__l__block {
  width: 12px;
  height: 92px;
  background: rgb(241, 109, 127);
  background-size: contain;
}

.h__m__c__l__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hmcltt0__block {
  font-family: "Lato";
  font-size: 32px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  gap: 8px;
}

.hmclt__text0 {
  font-size: 48px;
  font-family: "Lato";
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: left;
}
.hmclt__text2 {
  color: #f16d7f;
}

.main {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__block1 {
  width: auto;
  margin-bottom: 96px;
}

.mb1__part1 {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.mb1p1__item1 {
  max-width: 360px;
  max-height: 260px;
  position: relative;
}

.mb1p1i1__img__back {
  width: inherit;
  height: inherit;
  background: rgba(33, 22, 22, 0.7);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mb1p1i1__img__text {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mb1p1i1__img__text__block {
  width: 155px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mb1p1i1__img__span1 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  display: block;
}

.mb1p1i1__img__span2 {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: center;
  color: #f16d7f;
  display: block;
}

.mb1p1__item1__size {
  max-width: 1140px;
  max-height: 180px;
}

.mb__p2__size {
  max-width: 1140px;
  max-height: 180px;
}

.mb__p2__size__text {
  width: 174px;
  height: 50px;
}

.main__block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 95px;
}

.mb2__h3 {
  color: rgb(34, 34, 34);
  font-family: "Lato";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 6px;
}

.mb2__p {
  color: rgb(159, 159, 159);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}

.mb2__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 48px;
}

.mb2c__part__1 {
  max-width: 1140px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.mb2cp1__item1 {
  max-width: 360px;
  background: rgb(248, 248, 248);
  background-size: contain;
}

.mb2cp1i__image {
  max-width: 360px;
  max-height: 420px;
  position: relative;
}

.mb2cp1i__image:hover {
  .mb2cp1i__hover {
    visibility: visible;
  }
}

.mb2cp1i__hover {
  max-width: 360px;
  max-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.mb2cp1i__hover__lable {
  width: 139px;
  height: 44px;
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.mb2cp1ihl__text {
  width: 72px;
  height: 17px;
}

.mb2cp1ihl__image {
  width: 26px;
  height: 24px;
}


.mb2cp1__text {
  max-width: 360px;
  max-height: 166px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mb2cp1t__h5 {
  color: rgb(0, 0, 0);
  font-family: "Lato";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.mb2cp1t__p {
  color: rgb(93, 93, 93);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.mb2cp1t__price {
  color: rgb(241, 109, 127);
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.back__image2__part1 {
  background: rgb(247, 228, 226);
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 9px 0 11px 0;
}

.mb2cp1ii__img__mod {
  max-width: 141px;
  max-height: 400px;
}

.mb2c__part__2 {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  width: 212px;
  height: 48px;
  border: 1px solid rgb(255, 106, 106);
  background-color: #ffffff;
}

.button__text {
  color: rgb(242, 99, 118);
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  background: #ffffff;
  background-size: contain;
}

.section1 {
  width: 100%;
  background: rgb(34, 34, 36);
  background-size: contain;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.section__item1 {
  width: 360px;
  height: 134px;
  margin: 104px 0 104px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__item__image {
  max-width: 45px;
  max-height: 32px;
  margin-bottom: 28px;
}

.section__item__h3 {
  color: rgb(251, 251, 251);
  font-family: "Lato";
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.8;
  margin-bottom: 16px;
}

.section__item__p {
  max-width: 305px;
  color: rgb(251, 251, 251);
  font-family: "Lato";
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.5;
}

.sectiom1__mod__img__size_1 {
  max-width: 40px;
  max-height: 40px;
  margin-bottom: 19px;
}

.sectiom1__mod__img__size_2 {
  max-width: 47px;
  max-height: 35px;
  margin-bottom: 25px;
}

.section2 {
  width: 100%;
  min-height: 448px;
  background-image: url(../img/backgroung__img__section2.svg);
  background-repeat: no-repeat;
  position: relative;
}

.section2__back {
  width: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  gap: 19%;
  flex-wrap: wrap;
  background: rgba(244, 244, 244, 0.7);
  background-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section2__item1 {
  max-width: 360px;
  max-height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2__item1__image {
  width: 100px;
  height: 100px;
  background-image: url(../img/section2__img.svg);
  margin-bottom: 30px;
  background-position: 50% 10%;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
}

.section2__item1__text {
  color: rgb(34, 34, 36);
  font-family: "Lato";
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.section2__item2 {
  max-width: 557px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2__item2__text {
  max-width: 557px;
  color: rgb(34, 34, 36);
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.section2__item2__span1 {
  font-size: 24px;
  font-weight: bolder;
}

.form {
  display: flex;
  align-items: center;
}

.form__input__email {
  width: 256px;
  height: 49px;
  padding: 7px 64px 6px 22px;
  background: rgb(225, 225, 225);
  border-radius: 25px 0 0 25px;
}

.form__email {
  width: 170px;
  height: 36px;
  border: none;
  background: rgb(225, 225, 225);
  color: rgb(34, 34, 36);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.67;

}

.form__input__submit {
  width: 100px;
  height: 49px;
  border-radius: 0 25px 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241, 109, 127);
}

.form__submit {
  width: 85px;
  height: 36px;
  border: none;
  background-color:rgb(241, 109, 127);
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}
.footer__end {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(34, 34, 36);
  align-items: center;
  justify-content: space-between;
  /* gap: 50%; */
  padding: 30px 235px 30px 230px;
}

.footer__end__text {
  color: rgb(251, 251, 251);
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__end__icons {
  display: flex;
  gap: 7px;
}

.img__footer__block {
  width: 32px;
  height: 32px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__footer__end_mod_1{
  width: 8px;
  height: 15px;
}

.icon__footer__end_mod_2{
  width: 15px;
  height: 15px;
}

.icon__footer__end_mod_3{
  width: 12px;
  height: 15px;
}

.icon__footer__end_mod_4{
  width: 16px;
  height: 13px;
}

.img__footer__block:hover {
  background-color: rgb(241, 109, 127);
  .img__footer__img__block {
    filter: invert(100%);
  }
}
